<div class="h-screen w-full flex justify-center items-center pt-36">
    <div class="w-full container">
        <div class="mb-12">
            <h1 class="w-full text-center text-gray-400 text-4xl font-bold py-3">Let's Get In Touch</h1>
            <hr class="w-24 mx-auto">
        </div>
        <div class="flex justify-center items-center text-gray-500 p-3">
            <span class="whitespace-nowrap">Hi, My Name is :</span>
            <input autocomplete="off" type="text" class="border-b-2 w-56 border-indigo-500 bg-transparent p-3 mx-3 focus:border-green-500 transition duration-500 ease-in-out focus:outline-none" placeholder="Your Name Here" name="name">
            <span class="whitespace-nowrap">My Email is :</span>
            <input autocomplete="off" type="text" class="border-b-2 w-96 border-indigo-500 bg-transparent p-3 mx-3 focus:border-green-500 transition duration-500 ease-in-out focus:outline-none" placeholder="Your Email Here" name="email">
        </div>
        <div class="flex justify-center items-center text-gray-500 p-3">
            <span class="whitespace-nowrap">I'm Interested in :</span>
            <input autocomplete="off" type="text" class="border-b-2 w-96 border-indigo-500 bg-transparent p-3 mx-3 focus:border-green-500 transition duration-500 ease-in-out focus:outline-none" placeholder="Web Application" name="interest">
        </div>
        <div class="flex justify-center items-center text-gray-500 p-3">
            <span class="whitespace-nowrap">Your Message : </span>
            <textarea class="border-b-2 w-96 border-indigo-500 bg-transparent p-3 mx-3 focus:border-green-500 transition duration-500 ease-in-out focus:outline-none" placeholder="Describe Your Needs" name="message"></textarea>
        </div>

        <div class="flex justify-center mt-6">
            <button type="button" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 focus:scale-90 transition duration-500 ease-in-out">Send <i class="ms-2 fa fa-paper-plane"></i></button>
        </div>

        <div class="contacts w-full mt-12">
            <h1 class="text-4xl text-gray-400 uppercase font-bold text-center py-3">Contacts</h1>
            <hr class="w-24 mx-auto">

            <div class="flex flex-wrap justify-center items-center text-gray-500 font-bold mt-8">
                <span class="p-3 w-fit flex whitespace-nowrap items-center border-l-4 border-indigo-500">
                    <i class="fa fa-envelope text-1xl me-2 text-indigo-500"></i>
                    <span>Email: contact@saadessadiki.com</span>
                </span>
                <span class="p-3 w-fit flex whitespace-nowrap items-center border-l-4 border-indigo-500">
                    <i class="fa fa-mobile-alt text-1xl me-2 text-indigo-500"></i>
                    <span>Phone: 0657469815</span>
                </span>
                <span class="p-3 w-fit flex whitespace-nowrap items-center border-l-4 border-indigo-500">
                    <i class="fab fa-google text-1xl me-2 text-indigo-500"></i>
                    <span>Gmail: saadessadiki.devw@gmail.com</span>
                </span>
            </div>
            
        </div>
    </div>
</div>