<div class="h-full flex justify-center align-center pt-24">
    <section class="team">
        <h2 class="section-heading uppercase font-bold" data-aos="fade-up" data-os-duration="3000" data-aos-delay="1200">About Me</h2>
        <div class="container">
            <div class="profile" data-aos="zoom-in" data-os-duration="3000"  data-aos-delay="1200">
                <img src="../../../assets/img/profile.jpeg"
                    alt="" /><span class="name">ESSADIKI SAAD</span>
            </div>
        </div>

        <div id="about" class="container-fluid mt-36 p-5 bg-gray-900">
            <div class="row align-self-top w-100 align-items-start justify-content-center">
                <div class="pt-0 px-24 offseted col-sm-9 col-md-9 offset-sm-2 col-10 offset-1">
                    <small class="text-gray-400 text-2xl" data-aos="fade-up" data-os-duration="3000"  data-aos-delay="1600">About /&gt;</small>
                    <div class="mt-3">
                        <div class="code-wrp">
                            <div data-line-nr="01" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="methods">class </div>
                                <span class="propname">&nbsp;Essadiki_Saad</span> <span class="text-gray-300">{{"\{"}}</span>
                            </div>
                            <div data-line-nr="02" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">··</div>
                                <div class="comment">// I code, what you think.</div>
                            </div>
                            <div data-line-nr="03" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">··</div>
                                <div class="comment">// Let me help you code your ideas, and make it shine.</div>
                            </div>
                            <div data-line-nr="04" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">··</div>
                                <div class="methods">constructor</div>
                                <span class="text-purple-700">()</span> <span class="text-gray-300">{{"\{"}}</span>
                            </div>
                            <div data-line-nr="05" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">····</div>
                                <span class="scope">this</span>.<span class="prop2">name</span>
                                <span class="scope">=</span>
                                <span class="string">'Essadiki Saad'</span>
                            </div>
                            <div data-line-nr="06" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">····</div>
                                <span class="scope">this</span>.<span class="prop2">longBirthday</span>
                                <span class="scope">=</span>
                                <span class="number">'05 September 1999'</span>
                            </div>
                            <div data-line-nr="06" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">····</div>
                                <span class="scope">this</span>.<span class="prop2">shortBirthday</span>
                                <span class="scope">=</span>
                                <span class="number">'05/09/1999'</span>
                            </div>
                            <div data-line-nr="07" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">····</div>
                                <span class="scope">this</span>.<span class="prop2">email</span>
                                <span class="scope">=</span>
                                <span class="string">'contact@saadessadiki.com'</span>
                            </div>
                            <div data-line-nr="08" class="code-l flex">
                                <div class="dot">··</div>
                                <span class="text-gray-300">{{"\}"}}</span>
                            </div>
                            <div data-line-nr="09" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">··</div>
                                <span class="propname">workExperience</span><span class="text-yellow-400">()</span> <span class="text-gray-300">{{"\{"}}</span>
                            </div>
                            <div data-line-nr="10" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">····</div>
                                <div class="methods">return</div>
                                <span class="text-gray-300">[</span>
                            </div>
                            <div data-line-nr="11" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">······</div>
                                <span class="text-gray-300">//</span>
                            </div>
                            <div data-line-nr="12" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">······</div>
                                <span class="text-gray-300">{{"\{"}}</span> <span class="string">'2022-Jully - now'</span> <span class="text-gray-300">:</span><span class="string">
                                    'Working as Development and Network Technician in a Public Administration'</span>
                                <span class="text-gray-300">{{"\}"}}</span>
                            </div>
                            <div data-line-nr="13" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">······</div>
                                <span class="text-gray-300">{{"\{"}}</span> <span class="string">'2022-March 2022-June'</span> <span class="text-gray-300">:</span><span class="string">
                                    'Full-Stack developer Freelance'</span>
                                <span class="text-gray-300">{{"\}"}}</span>
                            </div>
                            <div data-line-nr="14" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">······</div>
                                <span class="text-gray-300">{{"\{"}}</span> <span class="string">'2021-August - 2022-February'</span><span class="text-gray-300">:</span><span class="string">
                                    'Full-Stack Web Developer at DECTANOVA'</span>
                                <span class="text-gray-300">{{"\}"}}</span>
                            </div>
                            <div data-line-nr="15" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">······</div>
                                <span class="text-gray-300">{{"\{"}}</span> <span class="string">'2021-March'</span> <span class="text-gray-300">:</span><span class="string">
                                    'Full-Stack Web Developer at DECTANOVA'</span>
                                <span class="text-gray-300">{{"\}"}}</span>
                            </div>
                            <div data-line-nr="16" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">····</div>
                                <span class="text-gray-300">]</span>
                            </div>
                            <div data-line-nr="17" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">··</div>
                                <span class="text-gray-300">{{"\}"}}</span>
                            </div>
                            <div data-line-nr="18" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">··</div>
                                <span class="propname">education</span><span class="text-yellow-400">()</span> <span class="text-gray-300">{{"\{"}}</span>
                            </div>
                            <div data-line-nr="19" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">····</div>
                                <div class="methods">return</div>
                                <span class="text-gray-300">[</span>
                            </div>
                            <div data-line-nr="20" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">······</div>
                                <span class="text-gray-300">{{"\{"}}</span> <span class="string">'2019-2021'</span><span class="text-gray-300">:</span><span class="string">
                                    'Diploma in IT Development Techniques - ISTA NTIC - Béni Mellal'</span>
                                <span class="text-gray-300">{{"\}"}}</span>,
                            </div>
                            <div data-line-nr="21" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">······</div>
                                <span class="text-gray-300">{{"\{"}}</span> <span class="string">'2008-2012'</span><span class="text-gray-300">:</span><span class="string">
                                    'Bachelor's Degree in Physical Sciences -
                                    AL-Massira College - Azilal'</span>
                                <span class="text-gray-300">{{"\}"}}</span>
                            </div>
                            <div data-line-nr="22" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">····</div>
                                <span class="text-gray-300">]</span>
                            </div>
                            <div data-line-nr="23" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">··</div>
                                <span class="text-gray-300">{{"\}"}}</span>
                            </div>
                            <div data-line-nr="24" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">··</div>
                                <span class="propname">skills</span><span class="text-yellow-400">()</span> <span class="text-gray-300">{{"\{"}}</span>
                            </div>
                            <div data-line-nr="25" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">····</div>
                                <div class="methods">return</div>
                                <span class="text-gray-300">[</span>
                            </div>
                            <div data-line-nr="26" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">······</div>
                                <span class="string">
                                    'HTML/CSS/JS', 'Angular/React', 'Laravel', 'PHP', 'MySQL/MongoDB/SqlServer', 'Wordpress', 'Node.js',
                                    'Bootstrap/Tailwind', 'Webpack/Vite/Mix', 'SCSS','npm/yarn', 'Docker', 'GIT', 'Firebase', 'Photoshop', 'Illustrator', 'Premiere Pro'
                                </span>
                            </div>
                            <div data-line-nr="27" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">····</div><span class="cursor"></span><span class="text-gray-300">]</span>
                            </div>
                            <div data-line-nr="28" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100">
                                <div class="dot">··</div>
                                <span class="text-gray-300">{{"\}"}}</span>
                            </div>
                            <div data-line-nr="29" class="code-l flex" data-aos="fade-up" data-os-duration="3000" data-os-delay="2100"><span class="text-gray-300">{{"\}"}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <a routerLink="/contact" aria-label="Go to next" class="cp down-arrow text-gray-300 px-12"><span>→</span></a>
        </div>
    </section>
</div>