<div class="start h-full w-full flex justify-center">
    <div class="text-start start-heading pt-64 px-16">
        <h1 class="text-gray-500 text-2xl" data-aos="fade-down" data-os-duration="3000"  data-aos-delay="1000">Start /></h1>
        <div class="pt-16">
            <h1 class="my-name font-bold text-4xl text-gray-300 mb-8" data-aos="fade-right" data-os-duration="1000"  data-aos-delay="1400">Hello Everyone, My Name is <span class="text-purple-700 uppercase">ESSADIKI SAAD</span></h1>

            <h1 class="my-job font-bold text-4xl text-gray-300 mb-8" data-aos="fade-right" data-os-duration="1000"  data-aos-delay="2000">I'm A Full-Stack Web Developer,</h1>

            <h1 class="ican-do font-bold text-4xl text-gray-300 mb-8" data-aos="fade-right" data-os-duration="1000"  data-aos-delay="2600">I can Build <span class="text-blue-400">AMAZING</span> Apps</h1>

            <h1 class="text-gray-500 mt-10 hover:text-purple-600 transition-all duration-300 ease-in-out" data-aos="fade-up" data-os-duration="3000"  data-aos-delay="2200">
                <a routerLink="/about">Let Me Show You <i class="fa fa-arrow-right-long"></i></a>
            </h1>
        </div>
    </div>
</div>
