<div class="start h-full w-full flex justify-center">
    <div class="text-start start-heading pt-64">
        <h1 class="text-gray-500 text-2xl">Start /></h1>
        <div class="pt-16">
            <h1 class="font-bold text-5xl text-gray-300 mb-3">Hello Everyone, My Name is <span class="text-purple-700 uppercase">ESSADIKI SAAD</span></h1>
            <h1 class="font-bold text-5xl text-gray-300 mb-3">I can Build Web Apps</h1>
            <h1 class="text-gray-500 mt-6">
                <a routerLink="/about">Let Me Show You...</a>
            </h1>
        </div>
        
    </div>
</div>
