<nav class="flex justify-between items-center p-3 w-full fixed top-0 left-0">
    <div class="log uppercase font-bold text-4xl text-gray-400">
        logo/>
    </div>
    <div class="links flex items-center">
        <div class="rounded ml-5 text-2xl ">
            <a routerLink="/start" routerLinkActive="active"  class="block py-2 text-gray-400 transition-all duration-150 ease-in-out hover:text-blue-500 capitalize"> start/> </a>
        </div>
    
        <div class="rounded ml-5 text-2xl ">
            <a routerLink="/about" routerLinkActive="active" class="block py-2 text-gray-400 transition-all duration-150 ease-in-out hover:text-blue-500 capitalize"> About/> </a>
        </div>
    
        <div class="rounded ml-5 text-2xl ">
            <a routerLink="/projects" routerLinkActive="active" class="block py-2 text-gray-400 transition-all duration-150 ease-in-out hover:text-blue-500 capitalize"> Projects/> </a>
        </div>

        <div class="rounded ml-5 text-2xl ">
            <a routerLink="/contact" routerLinkActive="active" class="block py-2 text-gray-400 transition-all duration-150 ease-in-out hover:text-blue-500 capitalize"> Contact/> </a>
        </div>
    </div>
</nav>