<nav class="flex justify-between items-center p-3">
    <div class="log uppercase font-bold text-4xl text-gray-400">
        logo/>
    </div>
    <div class="links flex items-center">
        <div class="rounded ml-5 text-2xl ">
            <a href="#" class="block py-2 text-gray-400 transition-all duration-150 ease-in-out hover:text-blue-500"> start/> </a>
        </div>
    
        <div class="rounded ml-5 text-2xl ">
            <a href="#" class="block py-2 text-gray-400 transition-all duration-150 ease-in-out hover:text-blue-500"> About/> </a>
        </div>
    
        <div class="rounded ml-5 text-2xl ">
            <a href="#" class="block py-2 text-gray-400 transition-all duration-150 ease-in-out hover:text-blue-500"> Projects/> </a>
        </div>

        <div class="rounded ml-5 text-2xl ">
            <a href="#" class="block py-2 text-gray-400 transition-all duration-150 ease-in-out hover:text-blue-500"> Contact/> </a>
        </div>
    </div>
</nav>
