
/*
i {
    opacity: 0;
    font-size: 18px;
    color: #fff;
    will-change: transform;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

h2 {
    pointer-events: none;
}


.card-container {
    width: 100%;
    height: 100%;
}

.card-container .card {
    position: relative;
    width: 500px;
    height: 200px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 4px;
}

.card-container .card:before {
    content: "";
    z-index: 99;
    position: absolute;
    top: -10px;
    left: 32px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: #E6E5E1;
}

.card-container .card:after {
    content: "";
    z-index: 99;
    position: absolute;
    bottom: -10px;
    left: 32px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: #E6E5E1;
}

.card-container .card ul {
    z-index: 99;
    position: absolute;
    left: 39px;
    top: 5px;
    list-style-type: none;
}

.card-container .card ul li {
    width: 2px;
    height: 2px;
    border-radius: 2px;
    margin: 6px 0;
    background-color: #E6E5E1;
}

.card-container .card h2 {
    z-index: 99;
    font-family: "Poppins", sans-serif;
    position: absolute;
    bottom: 10px;
    right: 130px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.card-container .card .fa-arrow-right {
    z-index: 100;
    position: absolute;
    right: 75px;
    bottom: 25px;
    font-size: 40px;
    cursor: pointer;
}

.card-container .card p {
    z-index: 99;
    position: absolute;
    top: 20px;
    right: 70px;
    color: #000;
    opacity: 0.7;
    font-size: 16px;
    font-weight: bold;
    word-spacing: 1px;
    writing-mode: vertical-lr;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.card-container .card:hover p {
    writing-mode: horizontal-tb;
    color: #fff;
    font-size: 20px;
    right: 10px;
    z-index: 999;
}

.card-container .card .pic {
    z-index: 100;
    width: 400px;
    height: 200px;
    transition: all .5s ease-out;
}

.card-container .card .pic img{
    width: 100% !important;
    height: 100% !important;
    transition: all .5s ease-out;
}

.card-container .card .social {
    position: absolute;
    left: 60px;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 180px;
    height: 64px;
    border-radius: 80px;
}

.card-container .card .social i:nth-of-type(1) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.card-container .card .social i:nth-of-type(2) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.card-container .card .social i:nth-of-type(3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.card-container .card .social i:nth-of-type(4) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.card-container .card:hover i {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.card-container .card button {
    position: absolute;
    right: 14px;
    bottom: 14px;
    width: 30px;
    height: 30px;
    background-color: #DA4D1D;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    mix-blend-mode: hard-light;
}

.card-container .card button i {
    font-size: 3rem;
}

.card-container .card:hover button {
    transform: scale(16.5);
}

.card-container .card:hover p {
    color: #fff;
}

.card-container .card:hover .pic {
    filter: grayscale(0);
}

.card-container .card:nth-child(even) .pic {
    background-image: url("https://images.unsplash.com/photo-1528785198459-ec50485704c7?ixlib=rb-0.3.5&s=3a2fc3039516555bbb2e9cd2967bd321&auto=format&fit=crop&w=1537&q=80");
}

.card-container .card:nth-child(even) button {
    background-color: #2b26c3;
}

.dr {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 100px;
}
*/

.projects{
    background: url('../../../assets/img/bg-cover.webp') repeat-y;
    background-size: cover;
}

.tilt-box-wrap{
	min-width: 300px;
	min-height: 300px;
	max-width: 350px;
	max-height: 350px;
	position: relative;
	transition: all 0.6s ease-out;
	perspective: 1000px
}
.tilt-box-wrap:hover{
	transition: all 0.3s linear;
	transform: scale(1.1);
}
.tilt-box{
	min-width: 300px;
	height: 200px;
	max-width: 350px;
	max-height: 300px;
	/* background: #04527b; */
    
	backdrop-filter:blur("5px");
    border-radius: 15px;
    transition: all .5s ease-in-out !important;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	color: #fff;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	transition: all 0.6s ease-out;
	transform:rotateX(0deg) rotateY(0deg);
	perspective: 1000px;
	transform-style: preserve-3d;
    overflow: visible;
}

.tilt-box:nth-child(odd){
    background:linear-gradient(to right top, rgba(255,255,255,0.1) 50%, rgba(5, 255, 222, 0.05) 50%);
}
.tilt-box:nth-child(even){
    background:linear-gradient(to right top, rgba(255,255,255,0.1) 50%, rgba(255, 147, 5, 0.05) 50%);
}

.tilt-box img{
    height: 100%;
    width: 100%;
    position: relative;
    left: -20px;
    top: -50px;
    border-radius: 10px;
}

.tilt-box-wrap:hover .tilt-box{
    /* From https://css.glass */
    /* From https://css.glass */
    /* From https://css.glass */
    transition: all .5s ease-in-out;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur("1px");
    -webkit-backdrop-filter: blur("2.8px");
}
.tilt-box strong{
    color: blueviolet;
	transform:translateZ(40px);
}

.tilt-box .footer{
    position: absolute;
    bottom: 5px;
    font-weight: 100;
    font-size: .5em;
}
.t_over{
	width: 33.333%;
	height: 33.333%;
	position: absolute;
	z-index: 1;
}

.t_over:nth-child(1){ left: 0; top: 0; }
.t_over:nth-child(2){ left: 33.333%; top: 0; }
.t_over:nth-child(3){ left: 66.666%; top: 0; }
.t_over:nth-child(4){ left: 0; top: 33.333%; }
.t_over:nth-child(5){ left: 33.333%; top: 33.333%; }
.t_over:nth-child(6){ left: 66.666%; top: 33.333%; }
.t_over:nth-child(7){ left: 0; top: 66.666%; }
.t_over:nth-child(8){ left: 33.333%; top: 66.666%; }
.t_over:nth-child(9){ left: 66.666%; top: 66.666%; }
.t_over:nth-child(1):hover ~ .tilt-box{transform:rotateX(-20deg) rotateY(20deg);}
.t_over:nth-child(2):hover ~ .tilt-box{transform: rotateX(-20deg) rotateY(0deg)}
.t_over:nth-child(3):hover ~ .tilt-box{transform: rotateX(-20deg) rotateY(-20deg)}
.t_over:nth-child(4):hover ~ .tilt-box{transform: rotateX(0deg) rotateY(20deg)}
.t_over:nth-child(5):hover ~ .tilt-box{transform: rotateX(0deg) rotateY(0deg)}
.t_over:nth-child(6):hover ~ .tilt-box{transform: rotateX(0deg) rotateY(-20deg)}
.t_over:nth-child(7):hover ~ .tilt-box{transform:rotateX(20deg) rotateY(20deg);}
.t_over:nth-child(8):hover ~ .tilt-box{transform: rotateX(20deg) rotateY(0deg)}
.t_over:nth-child(9):hover ~ .tilt-box{transform: rotateX(20deg) rotateY(-20deg)}


@media screen and (max-width: 620px) {
    .projects-wrap{
        padding: 0 !important;
    }
    .container{
        padding: 45px !important;
    }
}